[submodule "start_cli"]
	path = start_cli
	url = git@github.com:ChrisTimperley/start-cli
[submodule "start_core"]
	path = start_core
	url = git@github.com:ChrisTimperley/start-core
[submodule "start_dbi"]
	path = start_dbi
	url = git@github.com:squaresLab/start_dbi
[submodule "start_image"]
	path = start_image
	url = git@github.com:ChrisTimperley/start_image
[submodule "start_repair"]
	path = start_repair
	url = git@github.com:ChrisTimperley/start_repair
[submodule "debgrind"]
	path = debgrind
	url = git@github.com:squaresLab/valgrind-tools
