################################################################################
#                  START FRAMEWORK SCENARIO CONFIGURATION FILE                 #
################################################################################

## General configuration
[General]

# Name of the scenario [required]
name = Use-After-Free_fixed

# Description of the scenario
# [default value] <empty>
description = "Use-After-Free vulnerability seeded into GCS_MAVLink.cpp"

# Directory containing ArduPilot
# [default value] ardupilot
ardupilot = vulnerable_ardupilot

# Ardupilot vehicle type to be used in the scenario.  This must be a valid input
# (see sim_vehicle.[py|sh] --help for valid values)
# [default value] APMrover2
vehicle = ArduCopter

# Simulation script.  Older version of ArduPilot used `sim_vehicle.sh`, while more
# recent versions use `sim_vehicle.py`
# [default value] sim_vehicle.py
simulation = sim_vehicle.py

# The diff file responsible for injecting the vulnerability, relative to the
# location of this configuration file.
vulnerability = vulnerability.diff

# The version of the source code that should be used as a base when injecting
# the vulnerability.
revision = 368698d

## Mission configuration
[Mission]

# Name of the mission file provided in QGroundControl format
# [default value] mission.txt
mission = mission.txt

#######
## Home location: 37.9941253662109375,-78.39752197265625,99.7299957275390625,180
#######

# Home latitude
# [default value] 0.0
latitude = 37.9941253662109375

# Home longitude
# [default value] 0.0
longitude = -78.39752197265625

# Home altitude
# [default value] 0.0
altitude = 99.7299957275390625

# Home heading
# [default value] 0.0
heading = 180.0

## Attack configuration
[Attack]

# Name of the python script containing the attack
# [default value] attack.py
attack = attack.py

######
## Attack location: 37.9939270 -78.3973999 15
######

# Latitude of the center point of the attack
# [default value] 0.0
latitude = 37.9939270

# Longitude of the center point of the attack
# [default value] 0.0
longitude = -78.3973999

# Radius of the attack (distance from center point where the attack is active)
# [default value] 0.0
radius = 15.0

# Additional command line flags to pass to the attack script
# [default value] <empty>
script_flags = 
